<navbar></navbar>
<header>
  <charts></charts>
</header>

    <!--<h1>Found in {{ $ctrl.name }}.html</h1>-->
    <div class="row">
    <div class="col-sm-offset-2">
      <section class="charts" style="margin-top: 2px;width:80rem;">
        <div style="font-size: 30px;color:black;">Column With Rotated Series and Pie charts</div><hr>
        <div id="chartd"></div>
        <div id="chartspan"></div>	
      </section>
    </div>
    <br>
    <div class="col-sm-offset-2">
      <section class="charts" style="margin-top: 0px;width:80rem;height: 50rem;">
        <!--<div id="chartdi"></div>-->
        <div id="chartdiv"></div>	
      </section>
    </div>
</div>
    
  

