.home {
  color: red;
}
#chartd {
  width: 30%;
  height: 300px;
  float: right;
}	

#chartdi {
  width: 45%;
  height: 300px;
  float: right;
}

#chartdiv {
  width: 40%;
  height: 300px;
  margin-top: 0px;
  
}

#chartspan {
  width: 40%;
  height: 300px;
  
}
