<navbar></navbar>
<div class="wages-buttons">
<button type="button" class="btn btn-primary btn-md">Electricity</button>
<button type="button" class="btn btn-primary btn-md">Water</button>
<button type="button" class="btn btn-primary btn-md">Gas</button><br>
<button type="button" class="btn btn-primary btn-md">Daily</button>
<button type="button" class="btn btn-primary btn-md">Monthly</button>
<button type="button" class="btn btn-primary btn-md">Yearly</button>
</div>
<br>
<hr>
    <div class="col-sm-offset-2">
      <!--<section class="charts">-->
        <div id="linechartdiv"></div>
      <!--</section>-->
    </div> 
