
<navbar></navbar>

<div class="row">
    <div class="col-sm-offset-2">
      <section class="charts" style="margin-top: 2px;width:80rem;">
        <div style="font-size: 30px;color:black;">Column With Rotated Series and Pie charts</div><hr>
        <div id="chartspan"></div>	
      </section>
    </div>
</div>

  <!--<div id="chartdiv"></div>-->

<!--<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <div ba-panel ba-panel-title="Weather" ba-panel-class="medium-panel with-scroll">
      <blur-weather forecast="5"></blur-weather>
    </div>
  </div>
</div>-->
