<navbar></navbar>
<div class="col-sm-offset-2">
<div class="wages-button">
<button type="button" class="btn btn-primary btn-md">Electricity</button>
<button type="button" class="btn btn-primary btn-md">Water</button>
<button type="button" class="btn btn-primary btn-md">Gas</button><br>
<button type="button" class="btn btn-primary btn-md">Daily</button>
<button type="button" class="btn btn-primary btn-md">Monthly</button>
<button type="button" class="btn btn-primary btn-md">Yearly</button>
</div>
</div>

  
