<navbar></navbar>
<div class="wages-button">
<button type="button" class="btn btn-primary btn-md">Electricity</button>
<button type="button" class="btn btn-primary btn-md">Water</button>
<button type="button" class="btn btn-primary btn-md">Gas</button><br>
<button type="button" class="btn btn-primary btn-md">Daily</button>
<button type="button" class="btn btn-primary btn-md">Monthly</button>
<button type="button" class="btn btn-primary btn-md">Yearly</button>
</div>
<br>
<hr>
    <div class="col-sm-offset-2">
        <div id="linechartdiv"></div>
    </div>
<br>
<hr>
<label class="radio-inline"><input type="radio" name="optradio">Option 1</label>
<label class="radio-inline"><input type="radio" name="optradio">Option 2</label>
<label class="radio-inline"><input type="radio" name="optradio">Option 3</label>


  

  
