<navbar></navbar>
<!--<header>
  <charts></charts>
</header>-->

        
            <div class="charts">
              <span>Line chart</span><br><hr>
              <div id="chartspan"></div>	
            </div>
        
            <div class="charts">
              <span>Trafic chart</span><br><hr>
              <div id="chartdiv"></div>	
            </div>
         
            <div class="charts">
              <span>Line chart</span><br><hr>
              <div id="chartdi"></div>	
            </div>
        
            <div class="charts">
              <span>Pie chart</span><br><hr>
              <div id="chartd"></div>	
            </div>
          

